// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@for $i from 0 to 51 {
    $val: 5 * $i;
    .img-#{$val}{
        width: #{$val}px !important;
        height: #{$val}px !important;
	}
	.font-#{$i}{
		font-size: #{$i}px;
	}
}

.h-100{
	height: 100%;
}

.w-100{
	width: 100%;
}

@for $i from 0 to 11 {
	.p-#{$i}{
		padding: #{$i}rem;
	}
	.m-#{$i}{
		margin: #{$i}rem;
	}
	.pt-#{$i}{
		padding-top: #{$i}rem;
	}
	.mt-#{$i}{
		margin-top: #{$i}rem;
	}
	.mb-#{$i}{
		margin-top: #{$i}rem;
	}
}

.font-weight-bold{
	font-weight: bold;
}

.bg-light{
	background: #ffffff;
}